<h3>Calculadora PI</h3>

<ul>
	<li>
		<a href="/somar">Somar</a>
	</li>
	<li>
		<a href="/subtrair">Subtrair</a>
	</li>
	<li>
		<a href="/multiplicar">Multiplicar</a>
	</li>
	<li>
		<a href="/dividir">Dividir</a>
	</li>
	
	<li>
		<a href="/telhaFrancesa">Telha Francesa</a>
	</li>
	<li>
		<a href="/telhaPaulista">Telha Paulista</a>
	</li>
	<li>
		<a href="/telhaPlan">Telha Plan</a>
	</li>

	<li>
		<a href="/tijolosComuns5cm"> Tijolo Comum 5cm</a>
	</li>
	<li>
		<a href="/tijolosComuns10cm"> Tijolo Comum 10cm</a>
	</li>
	<li>
		<a href="/tijolosComuns20cm"> Tijolo Comum 20cm</a>
	</li>

	<li>
		<a href="/tijolosCeramicos10cm"> Tijolo Ceramicos 10cm</a>
	</li>
	<li>
		<a href="/tijolosCeramicos20cm"> Tijolo Ceramicos 20cm</a>
	</li>

	<li>
		<a href="/blocosDeConcreto10cm"> Blocos de Concreto 10cm</a>
	</li>
	<li>
		<a href="/blocosDeConcreto15cm"> Blocos de Concreto 15cm</a>
	</li>
	<li>
		<a href="/blocosDeConcreto20cm"> Blocos de Concreto 20cm</a>
	</li>
	
	<li>
		<a href="/acrilicaEconomica"> Tinta Acrílica Econômica</a>
	</li>
	<li>
		<a href="/acrilicaPremiumAcetinado"> Tinta Acrílica Premium Acetinado</a>
	</li>
	<li>
		<a href="/acrilicaPremiumFosco"> Tinta Acrílica Premium Fosco</a>
	</li>
	<li>
		<a href="/acrilicaStandard"> Tinta Acrílica Standard</a>
	</li>
	<li>
		<a href="/esmaltePremium"> Tinta Esmalte Premium</a>
	</li>
	<li>
		<a href="/latexPremium"> Tinta Latex Premium</a>
	</li>
	<li>
		<a href="/latexStandard"> Tinta Latex Standard</a>
	</li>
		<li>
		<a href="/tintaParaGesso"> Tinta Para Gesso</a>
	</li>
		<li>
		<a href="/tintaParaPiso"> Tinta Para Piso</a>
	</li>
		<li>
		<a href="/vernizAcrilico"> Tinta Vernuz Acrílico</a>
	</li>
</ul>            